doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(type='text/javascript' src='/javascripts/lib/createjs-2014.12.12.min.js')
    script(type='text/javascript' src='/javascripts/lib/createjs-extend.js')

    script(type='text/javascript' src='/javascripts/System/Home_Stage.js')

    //
        script(type='text/javascript' src='/javascripts/System/Vector.js')
        script(type='text/javascript' src='/javascripts/System/Point.js')
        
        script(type='text/javascript' src='/javascripts/System/PathFinder.js')
        script(type='text/javascript' src='/javascripts/System/Map_Stage.js')
        script(type='text/javascript' src='/javascripts/System/Unit_Stage.js')
        script(type='text/javascript' src='/javascripts/System/UI_Stage.js')
        script(type='text/javascript' src='/javascripts/System/Tooltip_Stage.js')
        script(type='text/javascript' src='/javascripts/System/Minimap_Stage.js')
        script(type='text/javascript' src='/javascripts/System/Skill.js')
        script(type='text/javascript' src='/javascripts/System/Effect.js')

        script(type='text/javascript' src='/javascripts/Characters/Unit.js')
        script(type='text/javascript' src='/javascripts/Characters/Follower.js')
        script(type='text/javascript' src='/javascripts/Characters/Monster.js')
        script(type='text/javascript' src='/javascripts/Characters/Hero.js')

  body(oncontextmenu="return false;")
    block content