doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(type='text/javascript' src='//code.createjs.com/createjs-2013.12.12.min.js')

    script(type='text/javascript' src='/javascripts/System/PathFinder.js')
    script(type='text/javascript' src='/javascripts/System/Map_Stage.js')
    script(type='text/javascript' src='/javascripts/System/UI_Stage.js')
    script(type='text/javascript' src='/javascripts/System/Skill.js')

    script(type='text/javascript' src='/javascripts/Characters/Unit.js')
    script(type='text/javascript' src='/javascripts/Characters/Follower.js')
    script(type='text/javascript' src='/javascripts/Characters/Monster.js')
    script(type='text/javascript' src='/javascripts/Characters/Hero.js')

  body(oncontextmenu="return false;")
    block content
    
