doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(type='text/javascript' src='//code.createjs.com/createjs-2013.12.12.min.js')

    script(type='text/javascript' src='/javascripts/Character.js')

    script(type='text/javascript' src='/javascripts/Game.js')
  body
    block content