html, body {
	margin:0px;
	padding:0px;
}

canvas#home,
canvas#bg,
canvas#unit,
canvas#tooltip,
canvas#minimap
{
	position:absolute;
}

canvas#bg{
	z-index:0;
}
canvas#unit{
	z-index:1;
	cursor:url('../assets/Graphics/System/Icons/swordIcon.png'), auto;
}
canvas#unit.attack{
	cursor:url('../assets/Graphics/System/Icons/attackIcon.png'), auto;
}

canvas#ui{
	z-index:2;
	position:fixed;
	bottom:4px;
	height:82px;
	width:275px;
	left:50%;
	margin-left:-137px;
	cursor:url('../assets/Graphics/System/Icons/swordIcon.png'), auto;
}

canvas#tooltip{
	z-index:3;
	display:none;
	width:300px;
	height:150px;
	cursor:url('../assets/Graphics/System/Icons/swordIcon.png'), auto;
}

canvas#minimap{
	z-index:4;
	position:fixed;
	left:4px;
	bottom:4px;
	width:160px;
	height:160px;
	cursor:url('../assets/Graphics/System/Icons/swordIcon.png'), auto;
	border: 1px solid #000;
}